<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXHERz90vnvtA1oz_zH_Af0qqxi6A07pQ</string>
	<key>GCM_SENDER_ID</key>
	<string>841550666055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.challenges.Food-Delivery-App</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-ios-app</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-ios-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841550666055:ios:3c54a4fb0de09ddf835462</string>
</dict>
</plist>